<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="processingIntervalSeconds" value="1" />
    <!--Kafka Configuration-->
    <add key="BootstrapServer" value="stg-lmb-kafka1.internetbrands.com:9092" />
    <add key="Topic" value="legal20-leadintake-caseupdates" />
    <!--<add key="GroupId" value="Captorra-legalcrm-leads-message-consumer" />-->
    <add key="SchemaRegistryUrl" value="http://stg-lmb-kafka1.internetbrands.com:8081" />
    <add key="PublishMessageURL" value="http://stg-lgl-web1.internetbrands.com/api/legalmessagebus/produce/" />
    <add key="SchemaId" value="524" />
    <!--Email Configuration-->
    <add key="ServiceNotificationAddress" value="captorraservicenotifications@captorra.com" />
    <add key="ServiceNotificationPassword" value="dHJ3ZHhzYWNkY2lpdmZ5eg==" />
    <add key="To_Address" value="rupinder.saini@captorra.com" />
    <add key="Cc_Address" value="" />
    <add key="Bcc_Address" value="" />
    <add key="Subject" value="CaptorraMessageLeadConsumer Failed" />
    <add key="EmailBody" value="CaptorraMessageLeadConsumer failed." />
    <!--API Configuration-->
    <add key="OrganizationId" value="d3ea27d4-76b2-e911-a2ca-00505692291d" />
    <add key="ApplicationId" value="40" />
    <add key="HandShakeLogAPIUrl" value="https://handshake.captorra.com/api/logs" />
    <add key="CaptorraHandShakeAPIUrl" value="https://handshake.captorra.com/api/CapConsumer" />
    <!--<add key="AuditLogAPIUrl" value="http://lmb-elk1.internetbrands.com:9200/stg-legalmessagebus/_doc" />-->
    <!--blnCapLog & blnTextLog Expected Value - YES or NO-->
    <add key="blnCapLog" value="YES" />
    <add key="blnTextLog" value="YES" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Confluent.Kafka" publicKeyToken="12c514ca49093d1e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confluent.SchemaRegistry" publicKeyToken="34ce5df5fa699c09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>