<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="processingIntervalSeconds" value="1"/>
    <!--Kafka Configuration-->
    <add key="BootstrapServer" value="BOOTSTRAPSERVER"/>    
    <add key="SchemaRegistryUrl" value="SCHEMAREGISTRYURL" />
    <add key="PublishMessageStagingURL" value=" PUBLISHMESSAGESTAGINGURL" />
    <add key="PublishMessageURL" value="PUBLISHMESSAGEURL" />
    <add key="Topic" value="TOPIC"/>
    <add key="SchemaId" value="SCHEMAID" />
    <add key="Topic_2" value="TOPIC_2"/>
    <add key="SchemaId_2" value="SCHEMAID_2" />
    <!--Email Configuration-->
    <add key="ServiceNotificationAddress" value=""/>
    <add key="ServiceNotificationPassword" value="dHJ3ZHhzYWNkY2lpdmZ5eg=="/>
    <add key="To_Address" value=""/>
    <add key="Cc_Address" value=""/>
    <add key="Bcc_Address" value=""/>
    <add key="Subject" value="ICE Producer Failed"/>
    <add key="EmailBody" value="ICE Producer Failed"/>
    <!--API Configuration-->
    <add key="OrganizationId" value=""/>
    <add key="ApplicationId" value=""/>
    <add key="HandShakeLogAPIUrl" value=""/>
    <add key="CaptorraHandShakeAPIUrl" value=""/>
   
    <add key="blnCapLog" value="YES"/>
    <add key="blnEmailNotification" value="YES"/>    
    <add key="blnTextLog" value="YES"/>

  </appSettings>
  <connectionStrings>    
    <add name="HandShakeConnectionString" connectionString="CONNECTION_STRING" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>